@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
@import "partials/_colors";
@import "./node_modules/react-vis/dist/style";

$font-family: 'Open Sans', sans-serif;
$bold-weight-text: 700;
$font-size: 14px;
$box-color: #f4f6fa;
$font-color: #000000;
$secondrary-color: #fff;

body {
  font-family: $font-family;
  color: $secondrary-color;
}
h1 {
	font-size: 35px;
	text-transform: uppercase;
	color: $font-color;
	font-family: $font-family;
	font-weight: $bold-weight-text;
	display: inline;
}
h2 {
	font-size: 80px;
	line-height: 1px;
	font-family: $font-family;
}
h3 {
	font-size: 20px;
	color: $grey;
	font-family: $font-family;
	display: inline;
	text-transform: uppercase;
}
h4 {
	font-size: 14px;
	color: $grey;
	font-weight: 600;
	text-align: center;
}
.container {
	display: inline-block;
	vertical-align: middle;
	width: 100%;
}
.title {
	padding: 30px;
}
.box {
  background-color: $box-color;
  color: $font-color;
  height: 350px;
  width: 33%;
  margin: 0.1%;
  float: left;
}
.box:hover {
	box-shadow: 0 6px 6px rgba(0,0,0,.23);
}
.box:hover .circle {
    background-color: $grey;  
}
.container-data{
	width: 400px;
	margin: 0 auto;
}
.left {
	float: left;
}
.right {
	float: right;
}

.nav-header {
    background-color: #fff;
    width: 100%;
    height: 70px;
}
.box-text {
	text-align: center;
}

.box-product:hover {
  @extend .box;
    background-color: $yellow;
}
.box-customer:hover {
  @extend .box;
    background-color: $orange;
}
.box-invoice:hover {
  @extend .box;
    background-color: $blue;
}
.box-account:hover {
  @extend .box;
    background-color: $dark-purple;
}
.box-group:hover {
  @extend .box;
    background-color: $dark-green;
}
.box-order:hover {
  @extend .box;
    background-color: $light-red;
}

@media only screen and (max-width: 640px) {
	.box {
	  width: 50%;
	  height: 150px;
	}
}

@media (min-width:640px) and (max-width: 960px) {
	.box {
	  height: 250px;
	}
}