@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
@import "partials/_colors";
@import "partials/_typography";
@import "partials/_variables_size";
@import "partials/_variables_colors";
@import "partials/_form";
@import "partials/_list";

.subpage-navigation {
	float: right;
	margin-top: -3% 30%;
}
.container {
	display: inline-block;
	vertical-align: middle;
	width: 100%;
}
.col-left {
	float: left;
	width: 70%;
	height: 100%;
}

.col-right {
	@extend .col-left;
	overflow: hidden;
	width: 30%;
}

.col-fullwidth {
	width: 100%;
}

.equal {
	height: 800px;
	background-color: $light-grey;
}

@media only screen and (max-width: 960px) {
	.col-left {
	float: none;
	width: 100%;
	height: 600px;
	}

	.delete_section {
		margin-top: 10%;
	}

	.c_layout {
	float: none;
	width: 100%;
	height: 700px;
	}
}
@media (min-width: 960px) and (max-width: 1730px) {

}


