@import "_variables_colors";
@import "_variables_size";

.bg-red {
	background-color: $red;
}
.bg-light-blue {
	background-color: $light-blue;
}
.bg-purple {
	background-color: $purple;
}
.bg-green {
	background-color: $green;
}
.bg-yellow {
	background-color: $yellow;
}
.bg-dark-blue {
	background-color: $dark-blue;
}
.bg-orange {
	background-color: $orange;
}
.bg-blue {
	background-color: $blue;
}
.bg-dark-green {
	background-color: $dark-green;
}
.bg-light-red {
	background-color: $light-red;
}
.bg-dark-purple {
	background-color: $dark-purple;
}
.bg-grey {
	background-color: $grey;
}
.bg-light-grey {
	background-color: $light-grey;
}
.red-color {
	color: $red;
}
.light-blue-color {
	color: $light-blue;
}
.purple-color {
	color: $purple;
}
.green-color {
	color: $green;
}
.yellow-color {
	color: $yellow;
}
.dark-blue-color {
	color: $dark-blue;
}
.orange-color {
	color: $orange;
}
.blue-color {
	color: $blue;
}
.dark-green-color {
	color: $dark-green;
}
.light-red-color {
	color: $light-red;
}
.dark-purple-color {
	color: $dark-purple;
}
.logo-blue{
	color: $logo-blue;
}
.highlight {
	color: $grey-highlight;
}
.black {
	color: $black;
}
