@import "_colors";

.title_right_col {
  text-align: left;
  margin-left: 10%;
  line-height: 1px;
}
.form_style {
  color: $white;
}

.update_form {
  color: $dark-grey;
}

.update_form h5 {
  margin-left: 20px;
  margin-bottom: 10px;
  font-size: 20px;
}

.update_form [type=text], .update_form [type=number] {
  margin-left: 20px;
  color: $dark-grey;
  border-bottom: 1px solid $black;
}
.line_height_del{
  line-height: 0.1em;
}

.msg_success {
  color: $green;
  font-weight: 600;
  font-size: 20px;
  margin-top: -50px;
  margin-left: 200px;
}

.msg_fail {
  @extend .msg_success;
  color: $red;
}

.btn_wrap {
  text-align: center;
}
.btn_yes {
  display: inline-block;
  width: 20%;
  border: 1px solid $red;
  height: 45px;
  line-height: 45px;
  background-color: $red;
  color: $white;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 500;
  font-size: $size-m;
  margin: 10px;
}

.btn_no {
  @extend .btn_yes;
  border: 1px solid $black;
  background-color: $black;
}
.btn_default {
  @extend .btn_no;
  min-width: 5%;
  text-align: center;
  text-decoration: none;
}
.btn_default:hover {
  text-transform: none;
}
.btn_yes:hover {
  background-color: transparent;
  text-transform: uppercase;
  border: 2px solid $red;
  color: $red;
}

.btn_no:hover {
  @extend .btn_yes:hover;
  border: 2px solid $black;
  color: $black;
}
[type=text], [type=number] {
  display: block;
  margin: 0 auto;
  width: 80%;
  border: 0;
  border-bottom: 1px solid $white;
  height: 45px;
  line-height: 45px;  
  margin-bottom: 10px;
  font-size: 1em;
  background-color: transparent;
  color: $white;
}

[type=submit] {
  display: block;
  width: 20%;
  border: 1px solid $black;
  height: 45px;
  line-height: 45px;  
  margin-bottom: 10px;
  font-size: 1em;
  background-color: $black;
  color: $white;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 500;
  font-size: $size-m;
  margin-left: 10%;
  margin-top: 8%;
}

.update_form [type=submit] {
  margin-left: 3%;
  margin-top: 5%;
}

.update_form [type=submit]:hover {
  border: 1px solid $black;
  background-color: transparent;
  color: $black;
}

[type=submit]:hover {
  border: 1px solid $white;
  background-color: transparent;
  color: $white;
}

textarea[type="text"]{
  line-height: 1.5em;
  height: 100px;
  margin-top: 30px;
}

input[required], textarea[required]{
    box-shadow: none;
    background-image: url("../img/asterisk.png");;
    background-size: 0.5em 0.5em;
    background-position: right top;
    background-repeat: no-repeat;
}

@media (max-width:480px) {
  .msg_success {
    margin-top: 20px;
    margin-left: 10px;
  }
  .update_form h5 {
  margin-left: 10px;
}
  .update_form [type=text], .update_form [type=number], .update_form [type=submit] {
    margin-left: 10px;
  }

  .update_form [type=submit]{
    width: 30%;
  }
}