@import "_colors";
@import "_typography";

.left-typo {
	color: $dark-grey;
}
.scroll {
   overflow-y: scroll;
}
td {
    padding: 0px 20px;
    font-weight: 600;
    font-size: $size-sm;
}
th {
  padding: 0px 20px;
  max-width: 200px;
}
.smaller_width {
  width: 70px;
}
.extra_width {
  width: 140px;
}
.table_list {
	padding: 5%;
	width: 100%;
}

.smaller_title {
	font-size: $size-mm;
	line-height: 1em;
}
.table_title {
	color: $black;
	text-align: left;
	margin-left: 2%;
	line-height: 1px;
}
.action_btn {
	background-color: $black;
	width: $size;
	height: $size;
	border-radius: 10%;
	padding: 5px;
	display: inline-block;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 24px;
	margin-right: 5px;
	cursor: pointer;
}

tr:nth-child(even) {
	background-color: $grey-highlight;
}
table {
	border-collapse: collapse;
	background-color: $light-grey;
}

.back {
	background-image: url(../img/back-arrow.png);
	background-repeat: no-repeat;
	height: $size-ll;
	width: $size-ll;
	margin: 20px;
	color: $black;
	float: right;
}
.refresh {
	@extend .back;
	background-image: url(../img/refresh.png);
}
.view {
	background-image: url(../img/read.png);
}
.edit {
	background-image: url(../img/edit.png);
}
.delete {
	background-image: url(../img/delete.png);
}
.view:hover {
	background-image: url(../img/read-hover.png);
}
.edit:hover {
	background-image: url(../img/edit-hover.png);
}
.delete:hover {
	background-image: url(../img/delete-hover.png);
}
@media (max-width:480px) {
	.line_height_del {
		font-size: 20px;
	}
}
@media (max-width:687px) {
	.table_title{
		width: 200px;
	}
}
@media (min-width:687px) {
	.table_title{
		width: 300px;
	}
}
@media (max-width:1600px) {
	.refresh {
		background-size: 20px;
	}
}
@media (min-width:1212px) {
	.products_caption {
		margin-top: -90px;
	}
}
@media 
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1210px)  {

	.table_list {
		padding: 0px;
	}

	.action_btn {
	width: $size-m;
	height: $size-m;
	padding: 2px;
	background-size: 18px;
	margin-right: 2px;
	}
	table, thead, tbody, th, td, tr { 
		display: block; 
	}
	
	thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}

	tr:nth-child(even) {
		background-color: $grey-highlight;
	}
	
	
	td { 
		border: none;
		position: relative;
		padding-left: 50%; 
		
	}
	
	td:before { 
		position: absolute;
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
		
	}

	td:after{
		content: "\a0";
	}
	
	.table_product td:nth-of-type(1):before { content: "Number"; }
	.table_product td:nth-of-type(2):before { content: "Name"; }
	.table_product td:nth-of-type(3):before { content: "Price"; }
	.table_product td:nth-of-type(4):before { content: "Group"; }
	.table_product td:nth-of-type(5):before { content: "Action"; }

	.table_cdetail td:nth-of-type(1):before { content: "Customer No"; }
	.table_cdetail td:nth-of-type(2):before { content: "Product Name"; }
	.table_cdetail td:nth-of-type(3):before { content: "Price"; }
	.table_cdetail td:nth-of-type(4):before { content: "Action"; }


}

@media 
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1730px)  {

	.table_customers table, .table_customers thead, .table_customers tbody, .table_customers th, .table_customers td, .table_customers tr { 
		display: block; 
	}
	
	.table_customers thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	
	.table_customers td { 
		border: none;
		position: relative;
		padding-left: 50%; 
		
	}
	
	.table_customers td:before { 
		position: absolute;
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
		
	}

	.table_customers td:after{
		content: "\a0";
	}

	.table_customer td:nth-of-type(1):before { content: "Number"; }
	.table_customer td:nth-of-type(2):before { content: "Name"; }
	.table_customer td:nth-of-type(3):before { content: "Email"; }
	.table_customer td:nth-of-type(4):before { content: "Address"; }
	.table_customer td:nth-of-type(5):before { content: "Zip"; }
	.table_customer td:nth-of-type(6):before { content: "City"; }
	.table_customer td:nth-of-type(7):before { content: "Country"; }
	.table_customer td:nth-of-type(8):before { content: "CVR"; }
	.table_customer td:nth-of-type(8):before { content: "Action"; }
}
