@import "_colors";
@import "_typography";

.left-typo {
	color: $dark-grey;
}
.scroll {
   overflow-y: scroll;
}
td {
    padding: 0px 20px;
    font-weight: 600;
    font-size: $size-sm;
}
th {
  padding: 0px 20px;
  max-width: 200px;
  min-width: 100px;
}
.extra_width {
  width: 130px;
}
.table_list {
	padding: 5%;
}

.table_title {
	color: $black;
	text-align: left;
	margin-left: 2%;
	line-height: 1px;
}
.action_btn {
	background-color: $black;
	width: $size;
	height: $size;
	border-radius: 10%;
	padding: 5px;
	display: inline-block;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 24px;
	margin-right: 2px;
}

tr:nth-child(even) {background-color: $grey-highlight;}
table {
	border-collapse: collapse;
}
table tr td:last-child {
    background-color: $grey;
}

.view {
	background-image: url(../img/read.png);
}
.edit {
	background-image: url(../img/edit.png);
}
.delete {
	background-image: url(../img/delete.png);
}
.view:hover {
	background-image: url(../img/read-hover.png);
}
.edit:hover {
	background-image: url(../img/edit-hover.png);
}
.delete:hover {
	background-image: url(../img/delete-hover.png);
}