@import "_variables_size";
@import "_variables_colors";

$font-family: 'Open Sans', sans-serif;

$bold-weight-text: 700;
$font-color: #000000;
$secondrary-color: #fff;

h1 {
	font-size: $size-l;
	text-transform: uppercase;
	color: $font-color;
	font-family: $font-family;
	font-weight: $bold-weight-text;
	display: inline;
}
h2 {
	font-size: $size-xl;
	line-height: 1px;
	font-family: $font-family;
	font-weight: 500;
}
h3 {
	font-size: $size;
	color: $black;
	font-family: $font-family;
	display: inline;
	text-transform: uppercase;
	font-weight: 500;
	letter-spacing: 0.3em;

}
h4 {
	font-size: $size-l;
	text-align: center;
	font-weight: 500;
}

h5 {
	font-size: $size-ml;
	font-weight: 600;
	text-align: left;
	color: $black;
	line-height: 1px;
}

h6 {
	font-size: $size-s;
	color: $grey;
	font-weight: 600;
	text-align: center;
}
.special {
	font-size: $size-xxl;
}
@media only screen and (max-width: 480px) {
	h1 {
	font-size: $size-m;
	}
	h2 {
		font-size: $size;
	}
	h3 {
		font-size: $size-s;
	}
	h4 {
		font-size: $size-sm;
	}
	.special {
	font-size: $size-l;
	}

}

@media (min-width:480px) and (max-width: 678px) {
	h1 {
	font-size: $size-m;
	}
	h2 {
		font-size: $size-ll;
	}
	h3 {
		font-size: $size-mm;
	}
	h4 {
		font-size: $size-sm;
	}
	.special {
	font-size: $size-l;
	}

}

@media (min-width:678px) and (max-width: 1024px) {
	h1 {
	font-size: $size-m;
	}
	h2 {
		font-size: $size-llx;
	}
	h3 {
		font-size: $size-mm;
	}
	h4 {
		font-size: $size-m;
	}

		.special {
	font-size: $size-lx;
	}
}

@media (min-width:1024px) and (max-width: 1600px) {
	h1 {
	font-size: $size-m;
	}
	h2 {
		font-size: $size-lx;
	}
	h3 {
		font-size: $size-mm;
	}
	h4 {
		font-size: $size-m;
	}

		.special {
	font-size: $size-lx;
	}
}
