$size-xs: 12px;
$size-s: 14px;
$size-sm: 16px;
$size-mm: 18px;
$size-m: 20px;
$size-ml: 26px;
$size: 30px;
$size-l: 35px;
$size-ll: 40px;
$size-llx: 45px;
$size-lx: 50px;
$size-xl: 80px;
$size-xxl: 80px;
$font-size: 14px;
