//First Design
$red: #f1664c;
$light-blue: #8dd4dc;
$purple: #8f75b4;
$green: #66c088;
$yellow: #ffc80b;
$dark-blue: #5572b7;

//Second Design
$orange: #f89837;
$blue: #83c6ea;
$dark-green: #1b8057;
$light-red: #e57575;
$dark-purple: #643579;

$white: #ffffff;
$black: #000000;
$grey: #c8c8ca;
$dark-grey:#727272;
$light-grey: #f4f6fa;
$logo-blue: #5be7c4;