@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700");
.rv-treemap {
  font-size: 12px;
  position: relative; }

.rv-treemap__leaf {
  overflow: hidden;
  position: absolute; }

.rv-treemap__leaf--circle {
  align-items: center;
  border-radius: 100%;
  display: flex;
  justify-content: center; }

.rv-treemap__leaf__content {
  overflow: hidden;
  padding: 10px;
  text-overflow: ellipsis; }

.rv-xy-plot {
  color: #c3c3c3;
  position: relative; }

.rv-xy-plot canvas {
  pointer-events: none; }

.rv-xy-plot .rv-xy-canvas {
  pointer-events: none;
  position: absolute; }

.rv-xy-plot__inner {
  display: block; }

.rv-xy-plot__axis__line {
  fill: none;
  stroke-width: 2px;
  stroke: #e6e6e9; }

.rv-xy-plot__axis__tick__line {
  stroke: #e6e6e9; }

.rv-xy-plot__axis__tick__text {
  fill: #6b6b76;
  font-size: 11px; }

.rv-xy-plot__axis__title text {
  fill: #6b6b76;
  font-size: 11px; }

.rv-xy-plot__grid-lines__line {
  stroke: #e6e6e9; }

.rv-xy-plot__circular-grid-lines__line {
  fill-opacity: 0;
  stroke: #e6e6e9; }

.rv-xy-plot__series, .rv-xy-plot__series path {
  pointer-events: all; }

.rv-xy-plot__circular-grid-lines__line {
  fill-opacity: 0;
  stroke: #e6e6e9; }

.rv-xy-plot__series, .rv-xy-plot__series path {
  pointer-events: all; }

.rv-xy-plot__series--line {
  fill: none;
  stroke: #000;
  stroke-width: 2px; }

.rv-crosshair {
  position: absolute;
  font-size: 11px;
  pointer-events: none; }

.rv-crosshair__line {
  background: #47d3d9;
  width: 1px; }

.rv-crosshair__inner {
  position: absolute;
  text-align: left;
  top: 0; }

.rv-crosshair__inner__content {
  border-radius: 4px;
  background: #3a3a48;
  color: #fff;
  font-size: 12px;
  padding: 7px 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5); }

.rv-crosshair__inner--left {
  right: 4px; }

.rv-crosshair__inner--right {
  left: 4px; }

.rv-crosshair__title {
  font-weight: bold;
  white-space: nowrap; }

.rv-crosshair__item {
  white-space: nowrap; }

.rv-hint {
  position: absolute;
  pointer-events: none; }

.rv-hint__content {
  border-radius: 4px;
  padding: 7px 10px;
  font-size: 12px;
  background: #3a3a48;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  color: #fff;
  text-align: left;
  white-space: nowrap; }

.rv-discrete-color-legend {
  box-sizing: border-box;
  overflow-y: auto;
  font-size: 12px; }

.rv-discrete-color-legend.horizontal {
  white-space: nowrap; }

.rv-discrete-color-legend-item {
  color: #3a3a48;
  border-radius: 1px;
  padding: 9px 10px; }

.rv-discrete-color-legend-item.horizontal {
  display: inline-block; }

.rv-discrete-color-legend-item.horizontal .rv-discrete-color-legend-item__title {
  margin-left: 0;
  display: block; }

.rv-discrete-color-legend-item__color {
  background: #dcdcdc;
  display: inline-block;
  height: 2px;
  vertical-align: middle;
  width: 14px; }

.rv-discrete-color-legend-item__title {
  margin-left: 10px; }

.rv-discrete-color-legend-item.disabled {
  color: #b8b8b8; }

.rv-discrete-color-legend-item.clickable {
  cursor: pointer; }

.rv-discrete-color-legend-item.clickable:hover {
  background: #f9f9f9; }

.rv-search-wrapper {
  display: flex;
  flex-direction: column; }

.rv-search-wrapper__form {
  flex: 0; }

.rv-search-wrapper__form__input {
  width: 100%;
  color: #a6a6a5;
  border: 1px solid #e5e5e4;
  padding: 7px 10px;
  font-size: 12px;
  box-sizing: border-box;
  border-radius: 2px;
  margin: 0 0 9px;
  outline: 0; }

.rv-search-wrapper__contents {
  flex: 1;
  overflow: auto; }

.rv-continuous-color-legend {
  font-size: 12px; }

.rv-continuous-color-legend .rv-gradient {
  height: 4px;
  border-radius: 2px;
  margin-bottom: 5px; }

.rv-continuous-size-legend {
  font-size: 12px; }

.rv-continuous-size-legend .rv-bubbles {
  text-align: justify;
  overflow: hidden;
  margin-bottom: 5px;
  width: 100%; }

.rv-continuous-size-legend .rv-bubble {
  background: #d8d9dc;
  display: inline-block;
  vertical-align: bottom; }

.rv-continuous-size-legend .rv-spacer {
  display: inline-block;
  font-size: 0;
  line-height: 0;
  width: 100%; }

.rv-legend-titles {
  height: 16px;
  position: relative; }

.rv-legend-titles__left, .rv-legend-titles__right, .rv-legend-titles__center {
  position: absolute;
  white-space: nowrap;
  overflow: hidden; }

.rv-legend-titles__center {
  display: block;
  text-align: center;
  width: 100%; }

.rv-legend-titles__right {
  right: 0; }

.rv-radial-chart .rv-xy-plot__series--label {
  pointer-events: none; }

.bg-red {
  background-color: #f1664c; }

.bg-light-blue {
  background-color: #8dd4dc; }

.bg-purple {
  background-color: #8f75b4; }

.bg-green {
  background-color: #66c088; }

.bg-yellow {
  background-color: #ffc80b; }

.bg-dark-blue {
  background-color: #5572b7; }

.bg-orange {
  background-color: #f89837; }

.bg-blue {
  background-color: #83c6ea; }

.bg-dark-green {
  background-color: #1b8057; }

.bg-light-red {
  background-color: #e57575; }

.bg-dark-purple {
  background-color: #643579; }

.bg-grey {
  background-color: #c8c8ca; }

.red-color {
  color: #f1664c; }

.light-blue-color {
  color: #8dd4dc; }

.purple-color {
  color: #8f75b4; }

.green-color {
  color: #66c088; }

.yellow-color {
  color: #ffc80b; }

.dark-blue-color {
  color: #5572b7; }

.orange-color {
  color: #f89837; }

.blue-color {
  color: #83c6ea; }

.dark-green-color {
  color: #1b8057; }

.light-red-color {
  color: #e57575; }

.dark-purple-color {
  color: #643579; }

.logo-blue {
  color: #5be7c4; }

h1 {
  font-size: 35px;
  text-transform: uppercase;
  color: #000000;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  display: inline; }

h2 {
  font-size: 80px;
  line-height: 1px;
  font-family: "Open Sans", sans-serif; }

h3 {
  font-size: 30px;
  color: #000000;
  font-family: "Open Sans", sans-serif;
  display: inline;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 0.5em; }

h4 {
  font-size: 35px;
  font-weight: 600;
  text-align: center; }

h5 {
  font-size: 14px;
  font-weight: 600;
  text-align: center; }

h6 {
  font-size: 14px;
  color: #c8c8ca;
  font-weight: 600;
  text-align: center; }

.special {
  font-size: 100px; }

@media only screen and (max-width: 480px) {
  h1 {
    font-size: 20px; }
  h2 {
    font-size: 30px; }
  h3 {
    font-size: 14px; }
  h4 {
    font-size: 16px; }
  .special {
    font-size: 35px; } }

@media (min-width: 480px) and (max-width: 1024px) {
  h1 {
    font-size: 20px; }
  h2 {
    font-size: 35px; }
  h3 {
    font-size: 26px; }
  h4 {
    font-size: 20px; }
  .special {
    font-size: 50px; } }

html {
  height: 100%; }

body {
  font-family: "Open Sans", sans-serif;
  color: #fff;
  margin: 0px;
  min-height: 100%; }

#container {
  min-height: 100%;
  position: relative; }

#header {
  background-color: #fff;
  height: 70px;
  width: 100%; }

#body {
  padding-bottom: 60px; }

#footer {
  bottom: 0;
  height: 60px;
  left: 0;
  position: absolute;
  right: 0; }

.circle {
  height: 30px;
  width: 30px;
  border-radius: 50px;
  display: inline-block;
  margin-left: 15px; }

.container {
  display: inline-block;
  vertical-align: middle;
  width: 100%; }

.title {
  padding: 30px; }

.triangle-up, .triangle-down {
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 30px solid #5be7c4; }

.triangle-down {
  border-bottom: 0px;
  border-top: 30px solid #f1664c; }

.margin-top {
  margin-top: 30px; }

.margin-zero {
  margin-top: 0px; }

.box {
  position: relative;
  background-color: #f4f6fa;
  color: #000000;
  width: 33.13%;
  margin: 0.1%;
  float: left;
  min-height: 250px;
  max-height: 600px; }

.box:hover {
  box-shadow: 0 6px 6px rgba(0, 0, 0, 0.23); }

.container-data {
  padding: 0px 30px; }

.left {
  float: left; }

.right {
  float: right; }

.right-active {
  float: right; }

.category {
  margin-left: 80px; }

.account_title {
  letter-spacing: 2em; }

.box-text {
  text-align: center; }

/*
.box-product:hover {
  @extend .box;
    background-color: $yellow;
}
.box-customer:hover {
  @extend .box;
    background-color: $orange;
}
.box-invoice:hover {
  @extend .box;
    background-color: $blue;
}
.box-account:hover {
  @extend .box;
    background-color: $dark-purple;
}
.box-group:hover {
  @extend .box;
    background-color: $dark-green;
}
.box-order:hover {
  @extend .box;
    background-color: $light-red;
}*/
@media only screen and (max-width: 480px) {
  .box {
    width: 100%;
    margin-bottom: 0.1%; }
  body {
    margin: 0px; }
  .container-data {
    width: 80%; }
  .circle {
    height: 20px;
    width: 20px; }
  .margin-top {
    margin-top: 0px; }
  .category {
    margin-left: 40px; }
  .account_title {
    letter-spacing: 0.5em; } }

@media (min-width: 480px) and (max-width: 1024px) {
  .box {
    width: 49.8%; }
  .circle {
    height: 20px;
    width: 20px; }
  body {
    margin: 0px; }
  .box {
    height: 400px; }
  .right {
    float: left; }
  .margin-top {
    margin-top: 10px;
    margin-left: 5px; }
  .category {
    margin-left: 40px; }
  .account_title {
    letter-spacing: 0.5em; } }

@media only screen and (min-width: 960px) {
  .box {
    height: 600px; }
  .right-active {
    float: left;
    margin-left: 20px;
    margin-top: 20px; } }

@media only screen and (max-width: 1200px) {
  .triangle-up, .triangle-down {
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 15px solid #5be7c4; }
  .triangle-down {
    border-bottom: 0px;
    border-top: 15px solid #f1664c; } }
